<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myemployeebiodataapplication">

    <uses-feature
        android:name="andriod.hardware.camera2"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyEmployeeBiodataApplication">
        <activity android:name=".DataModel.RecyclerView"></activity>
        <activity android:name=".ViewEmployees" />
        <activity android:name=".RegisterPage" />
        <activity android:name=".RegisterAndView" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>